body {

    font-family: "Roboto", sans-serif;
    background-color: #F5F5F5;;
    color: #212121;

}

/* Логотип */

.logo {color:#000000;}

.logo-accent {color:#2196F3;}

.logo.link {text-decoration: none;}

/* Навігація */

.site-nav .link:hover,
.site-nav .link:focus
    {
        color: #2196F3;
    }

.site-nav .link {text-decoration: none;}


/* Контактная информация */

.contacts .list,
.contacts .link
    {
        text-decoration: none;
    }

.list 
    {
        list-style: none;
    }